*.exe
*.dll
*.so
*.dylib
*.o
*.obj
*.ko
*.lib
*.a
*.pdb
*.idb
*.ilk
*.pch
*.vcxproj.user
*.suo
*.sdf
*.opensdf
*.aps
*.ncb
*.opt
*.plg

.vs/
Debug/
Release/
x64/
x86/
ipch/
CMakeFiles/
build/
Binaries/
Intermediate/